<html>
<head>
	<link type="text/css" rel="stylesheet" href="./css/bootstrap.css">	
	<link type="text/css" rel="stylesheet" href="./compass/stylesheets/healthCheckup.css">
	<script type="text/javascript" src="./js/jquery-2.1.0.min.js"></script>	
	<script type="text/javascript" src="./js/jquery.PrintArea.js"></script>	
	<script type="text/javascript" src="./js/underscore-min.js"></script>	
	<script type="text/javascript" src="./js/health.js"></script>	
</head>
<body>
	<div class="container">
		<h1>體檢項目生成表</h1>
		<div class="content-area">
			<input class="form-control" id="object-name" type="text" placeholder="請輸入姓名"></input>

			<div class="analysis-group-title">血液一般檢查</div>
			<div class="blood-group">
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input>
					<span>紅血球數(RBC)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input>
					<span>血紅素(Hb)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input>
					<span>血比容(Ht)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>白血球數(WBC)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>血小板數(Platlet)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>凝血酶原時間(PT)</span>
				</div>
				<div class="list-el">	
					<input class="blood-analysis " type="checkbox"></input> 
					<span>活性化部分凝血激素時間(PTT)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>血球沈降速率(ESR)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>血容積</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>嗜中性白血球(NEUT)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>嗜鹼性白血球(BASO)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>嗜酸性粒細胞直接記數(EOS)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>單核巨噬細胞(MONO)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>淋巴球數(LYM)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>愛滋(HIV)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>梅毒(VDRL)</span>
				</div>
				<div class="analysis-subtitle">紅血球指數</div>

				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>平均紅血球容積(MCV)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>平均紅血球血紅素量(MCH)</span>
				</div>
				<div class="list-el">
					<input class="blood-analysis " type="checkbox"></input> 
					<span>平均紅血球血紅素濃度(MCHC)</span>
				</div>
				
			</div>	

			<div class="analysis-group-title">生化檢查</div>
			<div class="bio-group">
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>肝功能指數(GOT、GPT)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>乳酸脫氫酶(LDH)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>膽鹼脂酶(ChE)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>血清總蛋白(TP)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>白蛋白(Alb)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>球蛋白(Globulin)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>白蛋白/球蛋白比例(A/G ratio)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>鹼性磷脂酶(Al-p)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>血液尿素氮(BUN)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>尿酸(UA)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>肌酸酐(CRE)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>三酸甘油脂(TG)</span>
				</div>

				<div class="analysis-subtitle">膽固醇(Chol)</div>

				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>高密度脂蛋白膽固醇(HDL-Chol)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>低密度脂蛋白膽固醇(LDL-Chol)</span>
				</div>
				<div class="list-el">
					<input class="bio-analysis " type="checkbox"></input> 
					<span>總膽固醇(Total-Chol)</span>
				</div>
			</div>

			<div class="analysis-group-title">尿液檢查</div>	
			<div class="uric-group">
				<div class="list-el">
					<input class="uric-analysis " type="checkbox"></input> 
					<span>紅血球</span>
				</div>
				<div class="list-el">
					<input class="uric-analysis " type="checkbox"></input> 
					<span>尿蛋白</span>
				</div>			
				<div class="list-el">
					<input class="uric-analysis " type="checkbox"></input> 
					<span>葡萄糖</span>
				</div>
			</div>

			<div class="analysis-group-title">糞便檢查</div>	
			<div class="poo-group">
				<div class="list-el">
					<input class="poo-analysis " type="checkbox"></input> 
					<span>桿菌性痢疾</span>
				</div>
				<div class="list-el">
					<input class="poo-analysis " type="checkbox"></input> 
					<span>阿米巴痢疾</span>
				</div>
				<div class="list-el">
					<input class="poo-analysis " type="checkbox"></input> 
					<span>寄生蟲</span>
				</div>
			</div>

			<div class="analysis-group-title">其他</div>
			<div class="remaining-group">
				<div class="list-el">
					<input class="remaining-analysis " type="checkbox"></input> 
					<span>胸部X光</span>
				</div>
				
			</div>

			<div class="analysis-group-title">其他(自行輸入)</div>
			<div class="other-group">
				<div class="col-xs-6">
					<input class="form-control" id="other-input" type="text" placeholder="請輸入項目名稱"></input>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-success" id="other-btn" >增加項目</button>
				</div>
			</div>
			<table  class="table table-hover">
				<tbody id="other-container"></tbody>
			</table>

			<script id="other-item-template">
				<tr class='other-el'>
					<td width='45%'>
						◆&nbsp;&nbsp;<span><%=itemName%></span>
					</td>
					<td width='55%'>
						<button class='btn btn-danger'>刪除</button>
					</td>				
				</tr>
			</script>

			<button type="button" class="btn btn-primary foot-btn" id="generate-btn">產生列印表單</button>
			<button type="button" class="btn btn-danger foot-btn" id="reset-btn">重置</button>
		</div>	
	</div>
	<center>
		<div class="well well-sm copy-right">
				©Power by Jordan, Hsu. &nbsp;&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-envelope"></span>
				jordan00830@gmail.com			
		</div>
	</center>
	
	<div id="print-area-container">
		<h2 class="display-bg-col">
			<span id="person-name"></span>
			體檢項目
		</h2>
		<div id="print-area" class="display-bg-col"></div>
	</div>
	<script id="print-area-template">
		<h2><%=anaTitle%></h2>
		<% for (var i = 0; i < itemList.length; i ++){ %>
			<% var item = itemList[i]%>	
			<span><%= item %>、</span>
		<% } %>
	</script>
</body>
</html>

